<div class="g-col g-span6">
    <h2 class="c-footer-heading">{{ downloadOurApps }}</h2>

    <ul class="c-footer-list c-footer-list--inline">
        {{#each appStoreIcons }}
            <li>
                <a href="{{ url }}" target="_blank">
                    <img class="c-footer-icon c-icon--{{ key }}" src="{{ iconSrc }}" alt="{{ altText }}" />
                </a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="g-col g-span3 c-footer-social">
    <h2 class="c-footer-heading">{{ followUs }}</h2>

    <ul class="c-footer-list c-footer-list--inline">
        {{#each socialIcons }}
            <li>
                <a href="{{ url }}" target="_blank">
                    <img class="c-footer-icon c-footer-icon--social" src="{{ iconSrc }}" alt="{{ altText }}" />
                </a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="g-col g-span3 c-footer-feedback is-invisible">
    <h2 class="c-footer-heading">{{ feedback }}</h2>

    <p class="c-footer-feedbackText">
        {{ improveOurWebsite }}
        <a href="{{ improveOurWebsiteUrl }}">{{ sendFeedback }}</a>
    </p>
</div>
