<div class="g-col g-span6">
    <h2 class="c-footer-heading">{{ i18n "downloadOurApps" }}</h2>

    <ul class="c-footer-list c-footer-list--inline">
        {{#each (i18n "appStoreIcons") as | appStoreIcon |}}
            <li class="c-footer-list-item">
                <a href="{{ appStoreIcon.url }}" target="_blank">
                    {{!-- We can't use svg sprite here because of gradient effect which doesn't work with sprites in Chrome and Safari --}}
                    <img class="c-footer-icon c-icon--{{ appStoreIcon.key }}" src="{{  lookup ../appIconPaths appStoreIcon.iconSrc }}" alt="{{ appStoreIcon.altText }}" />
                </a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="g-col g-span3 c-footer-social">
    <h2 class="c-footer-heading">{{ i18n "followUs" }}</h2>

    <ul class="c-footer-list c-footer-list--inline">
        {{#each (i18n "socialIcons") as | socialIcon |}}
            <li class="c-footer-list-item">
                <a href="{{ socialIcon.url }}" target="_blank">
                    {{!-- temporarily return back previos img solution untill WH-692 is fixed --}}
                    {{!-- {{> je-svg-sprite cssClass="c-footer-icon c-footer-icon--social" spriteUrl=(concat (lookup ../svgSpriteModel 'iconsSpritePath') '#icons-social-icon-' socialIcon.key) }} --}}
                    <img class="c-footer-icon c-footer-icon--social" src="{{ lookup ../socialIconPaths socialIcon.iconSrc }}" alt="{{ socialIcon.altText }}" />
                </a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="g-col g-span3 c-footer-feedback is-invisible" data-gtm-feedback>
    <h2 class="c-footer-heading">{{ i18n "feedback" }}</h2>
    <p class="c-footer-feedbackText">
        {{ i18n "improveOurWebsite" }}
        <a href="#" class="o-link--bold o-link--full">{{ i18n "sendFeedback" }}</a>
    </p>
</div>
