<div class="c-countrySelector">
    <button type="button" class="o-btn o-btnLink c-countrySelector-link c-countrySelector-link--selected" data-toggle-target="countrySelector-list">
        <img class="c-icon--flag--small" src="{{ miscIconPaths.currentCountryFlagIconUrl }}" alt="" />
        <p> {{ i18n "currentCountryLocalisedName" }}</p>
        <img class="c-countrySelector-chevron c-icon--chevron--small" src="{{ miscIconPaths.chevronIconUrl }}" alt="" />
    </button>
    <ul class="c-countrySelector-list is-hidden" data-toggle-name="countrySelector-list">
        {{#each (i18n "countries") as | country |}}
            <li>
                <a class="c-countrySelector-link" target="_blank" href="{{ country.siteUrl }}">
                    <img class="c-icon--flag--small" src="{{ lookup ../flagIconPaths country.flagUrl }}" alt="" />
                    <p>{{ country.localisedName }}</p>
                </a>
            </li>
        {{/each}}
        <li>
            <button type="button" class="o-btn o-btnLink c-countrySelector-link c-countrySelector-link--selected" data-toggle-target="countrySelector-list">
                <img class="c-icon--flag--small" src="{{ miscIconPaths.currentCountryFlagIconUrl }}" alt="" />
                <p>{{ i18n "currentCountryLocalisedName" }}</p>
            </button>
            <img class="c-countrySelector-cross" src="{{ miscIconPaths.crossIconUrl }}" data-toggle-target="countrySelector-list" alt="" />
        </li>
    </ul>
</div>
