<div class="c-countrySelector">
    <a href="#" class="c-countrySelector-link c-countrySelector-link--selected" data-toggle-target="countrySelector-list">
        <img class="c-icon--flag--small" src="{{ currentCountry.flagUrl }}" alt="" />
        <p>{{ currentCountry.localisedName }}</p>
        <img class="c-countrySelector-chevron c-icon--chevron--small" src="{{ chevronUrl }}" alt="" />
    </a>

    <ul class="c-countrySelector-list is-hidden" data-toggle-name="countrySelector-list">
        {{#each countries as | country |}}
            <li>
                <a class="c-countrySelector-link" target="_blank" href="{{ country.siteUrl }}">
                    <img class="c-icon--flag--small" src="{{ country.flagUrl }}" alt="" />
                    <p>{{#with ../this}}{{ i18n country.localisedName }}{{/with}}</p>
                </a>
            </li>
        {{/each}}
        <li>
            <a class="c-countrySelector-link c-countrySelector-link--selected" href="#" data-toggle-target="countrySelector-list">
                <img class="c-icon--flag--small" src="{{ currentCountry.flagUrl }}" alt="" />
                <p>{{ currentCountry.localisedName }}</p>
            </a>

            <img class="c-countrySelector-cross" src="{{ crossUrl }}" data-toggle-target="countrySelector-list" alt="" />
        </li>
    </ul>
</div>
