<div class="c-countrySelector">
    <button type="button" class="o-btn o-btnLink c-countrySelector-link c-countrySelector-link--selected" data-toggle-target="countrySelector-list" aria-label="{{ i18n "changeCurrentCountry" }}">
        <img class="c-icon--flag--small" src="{{ currentCountry.flagUrl }}" alt="" />
        <p>{{ currentCountry.localisedName }}</p>
        <img class="c-countrySelector-chevron c-icon--chevron--small" src="{{ chevronUrl }}" alt="" />
    </button>

    <ul class="c-countrySelector-list is-hidden" data-toggle-name="countrySelector-list">
        {{#each countries as | country |}}
            <li>
                <a class="c-countrySelector-link" target="_blank" href="{{ country.siteUrl }}">
                    <img class="c-icon--flag--small" src="{{ country.flagUrl }}" alt="" />
                    <p>{{#with ../this}}{{ i18n country.localisedName }}{{/with}}</p>
                </a>
            </li>
        {{/each}}
        <li>
            <button type="button" class="o-btn o-btnLink c-countrySelector-link c-countrySelector-link--selected" data-toggle-target="countrySelector-list">
                <img class="c-icon--flag--small" src="{{ currentCountry.flagUrl }}" alt="" />
                <p>{{ currentCountry.localisedName }}</p>
            </button>

            <button type="button" class="o-btnLink" data-toggle-target="countrySelector-list" aria-label="{{ i18n "buttonClose" }}">
                <img class="c-countrySelector-cross" src="{{ crossUrl }}" alt="" />
            </button>
        </li>
    </ul>
</div>
