<div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-1">
        <h2 class="c-footer-heading" data-toggle-target="footer-panel-1" data-toggle-class="is-collapsed">
        {{ i18n "customerService" }}
        <img class="c-footer-chevron c-icon--chevron u-showBelowMid" src="{{ chevronUrl }}" alt="" />
    </h2>

    <ul class="c-footer-list">
        {{#each links as | link |}}
            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {{/each}}
    </ul>
</div>

<div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-2">
    <h2 data-test-id="cuisine-footer-heading" class="c-footer-heading" data-toggle-target="footer-panel-2" data-toggle-class="is-collapsed">
        {{ i18n "cuisines" }}
        <img class="c-footer-chevron c-icon--chevron u-showBelowMid" src="{{ chevronUrl }}" alt="" />
    </h2>

    <ul class="c-footer-list">
        {{#each cuisineLinks as | cuisine |}}
            <li><a href="{{ cuisine.url }}">{{ cuisine.text }}</a></li>
        {{/each}}
    </ul>
</div>

<div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-3">
    <h2 class="c-footer-heading" data-toggle-target="footer-panel-3" data-toggle-class="is-collapsed">
        {{ i18n "towns" }}
        <img class="c-footer-chevron c-icon--chevron u-showBelowMid" src="{{ chevronUrl }}" alt="" />
    </h2>

    <ul class="c-footer-list">
        {{#each locationLinks as | location |}}
            <li><a href="{{ location.url }}">{{ location.text }}</a></li>
        {{/each}}
    </ul>
</div>

<div class="g-col g-span3 c-footer-panel" data-panel-collapsible data-toggle-name="footer-panel-4">
    <h2 class="c-footer-heading" data-toggle-target="footer-panel-4" data-toggle-class="is-collapsed">
        {{ i18n "about-us" }}
        <img class="c-footer-chevron c-icon--chevron u-showBelowMid" src="{{ chevronUrl }}" alt="" />
    </h2>

    <ul class="c-footer-list">
        {{#each aboutUsLinks as | aboutUsLink |}}
            <li><a href="{{ aboutUsLink.url }}">{{ aboutUsLink.text }}</a></li>
        {{/each}}
    </ul>
</div>
